/* Coolors Exported Palette - https://coolors.co/5ddcff-f6ae2d-4e00c2-3c67e3 */

/* CSS HEX */
--vivid-sky-blue: #5ddcffff;
--hunyadi-yellow: #f6ae2dff;
--chrysler-blue: #4e00c2ff;
--royal-blue-web-color: #3c67e3ff;

/* CSS HSL */
--vivid-sky-blue: hsla(193, 100%, 68%, 1);
--hunyadi-yellow: hsla(39, 92%, 57%, 1);
--chrysler-blue: hsla(264, 100%, 38%, 1);
--royal-blue-web-color: hsla(225, 75%, 56%, 1);

/* SCSS HEX */
$vivid-sky-blue: #5ddcffff;
$hunyadi-yellow: #f6ae2dff;
$chrysler-blue: #4e00c2ff;
$royal-blue-web-color: #3c67e3ff;

/* SCSS HSL */
$vivid-sky-blue: hsla(193, 100%, 68%, 1);
$hunyadi-yellow: hsla(39, 92%, 57%, 1);
$chrysler-blue: hsla(264, 100%, 38%, 1);
$royal-blue-web-color: hsla(225, 75%, 56%, 1);

/* SCSS RGB */
$vivid-sky-blue: rgba(93, 220, 255, 1);
$hunyadi-yellow: rgba(246, 174, 45, 1);
$chrysler-blue: rgba(78, 0, 194, 1);
$royal-blue-web-color: rgba(60, 103, 227, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-right: linear-gradient(90deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-bottom: linear-gradient(180deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-left: linear-gradient(270deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-top-right: linear-gradient(45deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-bottom-right: linear-gradient(135deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-top-left: linear-gradient(225deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-bottom-left: linear-gradient(315deg, #5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);
$gradient-radial: radial-gradient(#5ddcffff, #f6ae2dff, #4e00c2ff, #3c67e3ff);